In [ ]:
pip install pyspark

## Exercício 1

In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SQLContext


spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes.show(5)

+----------------+
|             _c0|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

## Exercício 2

In [5]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SQLContext


spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)

df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes.printSchema()

df_nomes.show(10)

root
 |-- _c0: string (nullable = true)

root
 |-- Nomes: string (nullable = true)

+-----------------+
|            Nomes|
+-----------------+
|   Frances Bennet|
|    Jamie Russell|
|   Edward Kistler|
|    Sheila Maurer|
| Donald Golightly|
|       David Gray|
|      Joy Bennett|
|      Paul Kriese|
|Berniece Ornellas|
|    Brian Farrell|
+-----------------+
only showing top 10 rows

## Exercício 3

In [26]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, rand
from pyspark import SparkContext, SQLContext

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes = df_nomes.withColumn('Escolaridade',
    when(rand() < 1/3, 'Fundamental')
    .when(rand() < 2/3, 'Médio')
    .otherwise('Superior'))

df_nomes.show(10)

+-----------------+------------+
|            Nomes|Escolaridade|
+-----------------+------------+
|   Frances Bennet|    Superior|
|    Jamie Russell|       Médio|
|   Edward Kistler| Fundamental|
|    Sheila Maurer|       Médio|
| Donald Golightly|    Superior|
|       David Gray|    Superior|
|      Joy Bennett|       Médio|
|      Paul Kriese|       Médio|
|Berniece Ornellas| Fundamental|
|    Brian Farrell|       Médio|
+-----------------+------------+
only showing top 10 rows

## Exercício 4

In [105]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, rand, lit, element_at
from pyspark import SparkContext, SQLContext
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes = df_nomes.withColumn('Escolaridade',
    when(rand() < 1/3, 'Fundamental')
    .when(rand() < 2/3, 'Médio')
    .otherwise('Superior'))


paises_america_do_sul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia",
    "Equador", "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela", "Guiana Francesa"]

df_nomes = df_nomes.withColumn('Pais', element_at(lit(paises_america_do_sul), ((rand() * 13 + 1).cast("int"))))

df_nomes.show(10)

+-----------------+------------+---------------+
|            Nomes|Escolaridade|           Pais|
+-----------------+------------+---------------+
|   Frances Bennet|    Superior|         Guiana|
|    Jamie Russell|       Médio|Guiana Francesa|
|   Edward Kistler|    Superior|       Colômbia|
|    Sheila Maurer|    Superior|       Paraguai|
| Donald Golightly|       Médio|Guiana Francesa|
|       David Gray|       Médio|       Colômbia|
|      Joy Bennett|       Médio|           Peru|
|      Paul Kriese|       Médio|Guiana Francesa|
|Berniece Ornellas|    Superior|         Brasil|
|    Brian Farrell|       Médio|        Bolívia|
+-----------------+------------+---------------+
only showing top 10 rows

## Exercício 5

In [109]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, rand, lit, element_at
from pyspark import SparkContext, SQLContext
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes = df_nomes.withColumn('Escolaridade',
    when(rand() < 1/3, 'Fundamental')
    .when(rand() < 2/3, 'Médio')
    .otherwise('Superior'))


paises_america_do_sul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia",
    "Equador", "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela", "Guiana Francesa"]

df_nomes = df_nomes.withColumn('Pais', element_at(lit(paises_america_do_sul), ((rand() * 13 + 1).cast("int"))))

df_nomes = df_nomes.withColumn('AnoNascimento', lit(1945) + (rand() * (2010 - 1945 + 1)).cast("int"))

df_nomes.show(10)

+-----------------+------------+---------------+-------------+
|            Nomes|Escolaridade|           Pais|AnoNascimento|
+-----------------+------------+---------------+-------------+
|   Frances Bennet|       Médio|Guiana Francesa|         1990|
|    Jamie Russell|       Médio|        Uruguai|         1970|
|   Edward Kistler|    Superior|      Argentina|         1947|
|    Sheila Maurer|       Médio|        Equador|         1945|
| Donald Golightly| Fundamental|        Equador|         1996|
|       David Gray| Fundamental|      Venezuela|         1974|
|      Joy Bennett| Fundamental|        Uruguai|         2010|
|      Paul Kriese| Fundamental|        Bolívia|         1977|
|Berniece Ornellas| Fundamental|         Brasil|         1965|
|    Brian Farrell|    Superior|       Colômbia|         1984|
+-----------------+------------+---------------+-------------+
only showing top 10 rows

## Exercício 6

In [112]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, rand, lit, element_at
from pyspark import SparkContext, SQLContext
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes = df_nomes.withColumn('Escolaridade',
    when(rand() < 1/3, 'Fundamental')
    .when(rand() < 2/3, 'Médio')
    .otherwise('Superior'))


paises_america_do_sul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia",
    "Equador", "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela", "Guiana Francesa"]

df_nomes = df_nomes.withColumn('Pais', element_at(lit(paises_america_do_sul), ((rand() * 13 + 1).cast("int"))))

df_nomes = df_nomes.withColumn('AnoNascimento', lit(1945) + (rand() * (2010 - 1945 + 1)).cast("int"))

df_select = df_nomes.select("*").filter(df_nomes.AnoNascimento > 1999)

df_select.show(10)

+----------------+------------+---------------+-------------+
|           Nomes|Escolaridade|           Pais|AnoNascimento|
+----------------+------------+---------------+-------------+
|      David Gray|       Médio|          Chile|         2009|
|     Jessie Jean|       Médio|        Bolívia|         2007|
|     Sandra Todd|    Superior|         Guiana|         2005|
|     Milton Rowe| Fundamental|          Chile|         2003|
|Cristina Sheston|       Médio|Guiana Francesa|         2008|
| Katherine Moore|       Médio|      Argentina|         2004|
|   Sherry Wilcox|       Médio|           Peru|         2005|
|Maurice Blizzard|       Médio|       Colômbia|         2001|
| Suzanne Bullard| Fundamental|       Suriname|         2003|
|    Jason Martin|       Médio|Guiana Francesa|         2000|
+----------------+------------+---------------+-------------+
only showing top 10 rows

## Exercício 7

In [114]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, rand, lit, element_at
from pyspark import SparkContext, SQLContext
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes = df_nomes.withColumn('Escolaridade',
    when(rand() < 1/3, 'Fundamental')
    .when(rand() < 2/3, 'Médio')
    .otherwise('Superior'))


paises_america_do_sul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia",
    "Equador", "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela", "Guiana Francesa"]

df_nomes = df_nomes.withColumn('Pais', element_at(lit(paises_america_do_sul), ((rand() * 13 + 1).cast("int"))))

df_nomes = df_nomes.withColumn('AnoNascimento', lit(1945) + (rand() * (2010 - 1945 + 1)).cast("int"))

df_nomes.createOrReplaceTempView("pessoas")
spark.sql("select * from pessoas where AnoNascimento > 1999").show(10)

+--------------+------------+---------+-------------+
|         Nomes|Escolaridade|     Pais|AnoNascimento|
+--------------+------------+---------+-------------+
| Sheila Maurer| Fundamental| Colômbia|         2010|
|   Joy Bennett|       Médio|    Chile|         2010|
|  Charles Hill|       Médio|   Guiana|         2005|
|  Rebecca Snow| Fundamental|  Uruguai|         2001|
|Gabriel Colyer|       Médio|  Uruguai|         2008|
| Ricky Gilbert|    Superior|    Chile|         2007|
|   Donald Vogt| Fundamental|Venezuela|         2010|
| Lynne Dustman|    Superior|     Peru|         2003|
|     Ana Baker| Fundamental|  Bolívia|         2007|
|Kenneth Winter|       Médio| Colômbia|         2001|
+--------------+------------+---------+-------------+
only showing top 10 rows

## Exercício 8

In [120]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, rand, lit, element_at
from pyspark import SparkContext, SQLContext
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes = df_nomes.withColumn('Escolaridade',
    when(rand() < 1/3, 'Fundamental')
    .when(rand() < 2/3, 'Médio')
    .otherwise('Superior'))


paises_america_do_sul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia",
    "Equador", "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela", "Guiana Francesa"]

df_nomes = df_nomes.withColumn('Pais', element_at(lit(paises_america_do_sul), ((rand() * 13 + 1).cast("int"))))

df_nomes = df_nomes.withColumn('AnoNascimento', lit(1945) + (rand() * (2010 - 1945 + 1)).cast("int"))

df_select = df_nomes.select("*").filter(df_nomes.AnoNascimento <= 1994)
df_select = df_select.select("*").filter(df_nomes.AnoNascimento >= 1980)

df_select.show(10)

+----------------+------------+---------+-------------+
|           Nomes|Escolaridade|     Pais|AnoNascimento|
+----------------+------------+---------+-------------+
|Donald Golightly| Fundamental|   Guiana|         1987|
|     Paul Kriese|    Superior|    Chile|         1992|
|   Brian Farrell| Fundamental|Argentina|         1987|
|   Tracy Herring| Fundamental|   Brasil|         1981|
|    David Medina| Fundamental|Argentina|         1993|
|     Page Marthe|       Médio|  Bolívia|         1989|
| Helen Blackwell|       Médio|  Bolívia|         1990|
|     Sandra Todd|    Superior|   Guiana|         1984|
|  Rosie Lovelady| Fundamental| Suriname|         1987|
|     Donald Vogt| Fundamental|   Brasil|         1983|
+----------------+------------+---------+-------------+
only showing top 10 rows

## Exercício 9

In [121]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, rand, lit, element_at
from pyspark import SparkContext, SQLContext
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes = df_nomes.withColumn('Escolaridade',
    when(rand() < 1/3, 'Fundamental')
    .when(rand() < 2/3, 'Médio')
    .otherwise('Superior'))


paises_america_do_sul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia",
    "Equador", "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela", "Guiana Francesa"]

df_nomes = df_nomes.withColumn('Pais', element_at(lit(paises_america_do_sul), ((rand() * 13 + 1).cast("int"))))

df_nomes = df_nomes.withColumn('AnoNascimento', lit(1945) + (rand() * (2010 - 1945 + 1)).cast("int"))

df_nomes.createOrReplaceTempView("pessoas")
spark.sql("select * from pessoas where AnoNascimento >= 1980 and AnoNascimento <= 1994").show(10)

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     Pais|AnoNascimento|
+-----------------+------------+---------+-------------+
|    Jamie Russell|       Médio|Venezuela|         1980|
|    Sheila Maurer|       Médio|    Chile|         1991|
| Donald Golightly|       Médio|     Peru|         1988|
|      Joy Bennett| Fundamental|  Uruguai|         1990|
|Berniece Ornellas| Fundamental| Suriname|         1988|
|    Brian Farrell|    Superior|   Guiana|         1990|
|    Tracy Herring| Fundamental|    Chile|         1992|
|  Helen Blackwell| Fundamental|   Guiana|         1992|
|      Frank Wiley| Fundamental|   Brasil|         1986|
|   Gabriel Colyer| Fundamental|  Bolívia|         1980|
+-----------------+------------+---------+-------------+
only showing top 10 rows

## Exercício 10

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, rand, lit, element_at
from pyspark import SparkContext, SQLContext
from pyspark.sql.window import Window
import pandas as pd

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()


df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False, inferSchema=True)


df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes = df_nomes.withColumn('Escolaridade',
    when(rand() < 1/3, 'Fundamental')
    .when(rand() < 2/3, 'Médio')
    .otherwise('Superior'))


paises_america_do_sul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia",
    "Equador", "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela", "Guiana Francesa"]

df_nomes = df_nomes.withColumn('Pais', element_at(lit(paises_america_do_sul), ((rand() * 13 + 1).cast("int"))))

df_nomes = df_nomes.withColumn('AnoNascimento', lit(1945) + (rand() * (2010 - 1945 + 1)).cast("int"))

df_nomes.createOrReplaceTempView("pessoas")

query = """
SELECT Pais, 
       CASE 
         WHEN AnoNascimento BETWEEN 1944 AND 1964 THEN 'Baby Boomers'
         WHEN AnoNascimento BETWEEN 1965 AND 1979 THEN 'Geração X'
         WHEN AnoNascimento BETWEEN 1980 AND 1994 THEN 'Millennials'
         WHEN AnoNascimento BETWEEN 1995 AND 2015 THEN 'Geração Z'
       END AS Geracao,
       COUNT(*) AS Quantidade
FROM pessoas
GROUP BY Pais, Geracao 
ORDER BY Pais, Quantidade, Geracao
"""

df_result = spark.sql(query)
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
pd.set_option("display.max_rows", None)

pd_df = df_result.toPandas()


pd_df

               Pais       Geracao  Quantidade
0         Argentina     Geração X      174190
1         Argentina   Millennials      175550
2         Argentina     Geração Z      186195
3         Argentina  Baby Boomers      233451
4           Bolívia     Geração X      174575
5           Bolívia   Millennials      174645
6           Bolívia     Geração Z      187249
7           Bolívia  Baby Boomers      233103
8            Brasil     Geração X      175065
9            Brasil   Millennials      175153
10           Brasil     Geração Z      186258
11           Brasil  Baby Boomers      232757
12            Chile   Millennials      174606
13            Chile     Geração X      174904
14            Chile     Geração Z      186917
15            Chile  Baby Boomers      232173
16         Colômbia     Geração X      174597
17         Colômbia   Millennials      175462
18         Colômbia     Geração Z      186255
19         Colômbia  Baby Boomers      233450
20          Equador     Geração X      174499
21          Equador   Millennials      175049
22          Equador     Geração Z      186078
23          Equador  Baby Boomers      233109
24           Guiana     Geração X      173819
25           Guiana   Millennials      174856
26           Guiana     Geração Z      186240
27           Guiana  Baby Boomers      233127
28  Guiana Francesa     Geração X      173915
29  Guiana Francesa   Millennials      175308
30  Guiana Francesa     Geração Z      186390
31  Guiana Francesa  Baby Boomers      231949
32         Paraguai     Geração X      175147
33         Paraguai   Millennials      175296
34         Paraguai     Geração Z      186512
35         Paraguai  Baby Boomers      233624
36             Peru   Millennials      174203
37             Peru     Geração X      175042
38             Peru     Geração Z      187267
39             Peru  Baby Boomers      232349
40         Suriname   Millennials      174385
41         Suriname     Geração X      174711
42         Suriname     Geração Z      187095
43         Suriname  Baby Boomers      233236
44          Uruguai     Geração X      174251
45          Uruguai   Millennials      174786
46          Uruguai     Geração Z      186662
47          Uruguai  Baby Boomers      233947
48        Venezuela     Geração X      174739
49        Venezuela   Millennials      174931
50        Venezuela     Geração Z      186478
51        Venezuela  Baby Boomers      234445