In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bokeh.sampledata.iris import flowers as dados

In [2]:
dados.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
dados.shape

(150, 5)

### Amplitude Total

In [4]:
type(dados)

pandas.core.frame.DataFrame

In [5]:
dados.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [6]:
dados.min()

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [8]:
dados.iloc[:, 0:4].max()

sepal_length    7.9
sepal_width     4.4
petal_length    6.9
petal_width     2.5
dtype: float64

In [9]:
dados.iloc[:, 0:4].min()

sepal_length    4.3
sepal_width     2.0
petal_length    1.0
petal_width     0.1
dtype: float64

In [12]:
amplitude_total = dados.iloc[:, 0:4].max() - dados.iloc[:, 0:4].min()
amplitude_total

sepal_length    3.6
sepal_width     2.4
petal_length    5.9
petal_width     2.4
dtype: float64

In [14]:
maximo =np.max(dados.iloc[:, 0:4])
minimo = np.min(dados.iloc[:, 0:4])

c:\Users\Squinca\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\Squinca\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  return reduction(axis=axis, out=out, **passkwargs)

In [15]:
amplit_total = maximo - minimo
amplit_total

sepal_length    3.6
sepal_width     2.4
petal_length    5.9
petal_width     2.4
dtype: float64

### Amplitude Interquartílica

In [20]:
np.quantile(dados['sepal_length'], 0.75)
q3 = dados['sepal_length'].quantile(0.75)

In [21]:
q1 = dados['sepal_length'].quantile(0.25)

In [22]:
dq = q3 - q1
dq

1.3000000000000007

In [23]:
dados.quantile(0.25)

C:\Users\Squinca\AppData\Local\Temp\ipykernel_19084\1617350591.py:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.quantile(0.25)

sepal_length    5.1
sepal_width     2.8
petal_length    1.6
petal_width     0.3
Name: 0.25, dtype: float64

In [24]:
dados.quantile(0.75)

C:\Users\Squinca\AppData\Local\Temp\ipykernel_19084\210243933.py:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.quantile(0.75)

sepal_length    6.4
sepal_width     3.3
petal_length    5.1
petal_width     1.8
Name: 0.75, dtype: float64

In [25]:
dqt = dados.quantile(0.75) - dados.quantile(0.25)
dqt

C:\Users\Squinca\AppData\Local\Temp\ipykernel_19084\1979516340.py:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dqt = dados.quantile(0.75) - dados.quantile(0.25)

sepal_length    1.3
sepal_width     0.5
petal_length    3.5
petal_width     1.5
dtype: float64

### Desvio médio

In [26]:
dados.mad()

C:\Users\Squinca\AppData\Local\Temp\ipykernel_19084\405954327.py:1: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  dados.mad()

sepal_length    0.687556
sepal_width     0.336782
petal_length    1.562747
petal_width     0.658133
dtype: float64

### Variância e Desvio Padrão

In [27]:
dados.var() # Variância

C:\Users\Squinca\AppData\Local\Temp\ipykernel_19084\2762699690.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [28]:
dados.std() # Desvio Padrão

C:\Users\Squinca\AppData\Local\Temp\ipykernel_19084\1800215029.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

### Coeficiente de Variação

In [32]:
# CV = S/X * 100
cv = (np.std(dados)/np.mean(dados))*100
cv

c:\Users\Squinca\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3603: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
c:\Users\Squinca\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3462: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
c:\Users\Squinca\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3462: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

sepal_length    14.123810
sepal_width     14.208819
petal_length    46.817564
petal_width     63.342909
dtype: float64

In [31]:
cv2 = (dados.std()/dados.mean)()*100
cv2

C:\Users\Squinca\AppData\Local\Temp\ipykernel_19084\3290737979.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cv2 = dados.std()/dados.mean()*100
C:\Users\Squinca\AppData\Local\Temp\ipykernel_19084\3290737979.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cv2 = dados.std()/dados.mean()*100

sepal_length    14.171126
sepal_width     14.256420
petal_length    46.974407
petal_width     63.555114
dtype: float64